.flexbox{
    background-color: aqua;
    font-size: 30px;
    display: flex;
    /* 
    flex-direction: column-reverse; */

    flex-wrap: wrap; 
    justify-content: center;
    height: 400px;
    align-items: center;
    
}

.flexbox > div{
    background-color: gray;
    margin: 5px;
    padding: 5px;
    width: 100px;
    
    
}
