*{
    margin: 0px;
    padding: 0px;
}


.prasent{
    background: green ;
    color: white;
    width: 70%;
    margin: 20px auto;
    padding: 6%;

    /* max-width: 1140px;
    min-height: 500px;
     */
height: 100%;


}
